@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>

<address>
    Brasil<br />
    Paraná<br />
    Curitiba<br />
</address>

<address>
    <strong>Contato:</strong><a href="mailto:guilhermeagenor1012@gmail.com">guilhermeagenor1012@gmail.com</a><br />
</address>